/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Caitlin's custom styles
   ========================================================================== */

#intro {
    background: url(../img/engaged-full.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    height: 800px;
    margin: 0 auto;
    padding: 0;
}

#header {
    background: url(../img/header.png) repeat-x;
    height: 140px;
    z-index: 2;
    position: relative;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

#third {
    background: white;
    height: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    z-index: 1;
}

#fourth {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    z-index: 1;
}

#fifth{
    background: white;
    height: 1300px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    z-index: 1;
}

#fourth h1{
    color: #ACC1D6;
}

#fourth p{
    font-size: 34pt;
    font-family: Old Standard TT, Georgia;
    font-style: italic;
    font-weight: bold;
    color: #ACC1D6;
}

#fourth a{
    font-size: 34pt;
    font-family: Old Standard TT, Georgia;
    font-style: italic;
    font-weight: bold;
}

#sixth{
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    z-index: 1;
}

#sixth h2{
    color: #5c5c5c;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

#sixth h1{
    margin: 40px 20px 30px 20px;
    text-align: left;
    color: #ACC1D6;
}

#sixth p{
    margin: 0px 0px 30px 0px;
}

#seventh{
    background: white;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    z-index: 1;
    position: relative; 
}

.pretty-headers{
    margin-top: 30px;
}

#rsvp-form {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    z-index: 1;
}

.center {
    text-align: center;
    margin:0px auto;
}

#header .center{
    padding:90px 0 0 0;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-top: 150px;
    color:#85C2A3;
}

#logo{
    padding: 20px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #5c5c5c;
    line-height: 34px;
    margin: 40px 0px;
}

.venues{
    text-align: left;
    display: inline-block;
    padding: 40px 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #5c5c5c;
    line-height: 25px;
}

.hotels{
    text-align: left;
    padding: 20px 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #5c5c5c;
}

.form-container {
    position: relative;
    padding-bottom: 64%;
    padding-top: 35px;
}

.form-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
    color: #333;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    font-weight: 600;
}

#fourth h1{
    margin-top: 25px;
}

#third h1{
    display: inline-block;
}

.confetti{
    width:100px;
    display: inline-block;
    margin-top: -17px;
}

.arrow{
    width: 200px;
    display: inline-block;
    margin-top: 40px;
}

.story h1{
    display: inline-block;
    color: #ACC1D6;
}

.venue-title{
    color:#85C2A3;
    font-weight: bolder;
    line-height: 200%;
}

#header a{
    color:white;
    text-decoration: none;
}

a:hover{
    color:#A8A8A8;
    text-decoration: none;
}

#madeby{
    text-align: center;
    padding: 20px;
    background-color: #A8A8A8;
    color: white;
    font-family: Old Standard TT, Georgia;
}

#madeby a{
    color:white;
    font-style: italic;
    font-family: Old Standard TT, Georgia;
}

#menu{
    position: relative;
}

#menu-icon{
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 2000000;
    width: 30px;
}

.new-header{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000000;
    background-color: #F8F8F8;
    width: 30%;
    height: 100%;
    padding-top: 70px; 
}

.headerText{
    display: block;
    font-size: 20px;
    padding: 10px 20px;
    text-align: right;
    border-bottom: 1px solid;
}

.hotels p{
    margin: 0px 0px 20px 0px;
}

#img-love{
    width: 100%;
}

#seventh h4{
    position: absolute;
    bottom: 0px;
    left: 5px;
    width: 100%; 
}

/* Responsive */

@media (max-width: 1300px) {
    .form-container {
        padding-bottom: 84%;
    }
}

@media (max-width: 1000px) {
    .form-container {
        padding-bottom: 94%;
    }
}

@media (max-width: 895px) {
    .form-container {
        padding-bottom: 104%;
    }
}

@media (max-width: 800px) {
    #fourth p{
        font-size: 30px;
    }

    #fourth a{
        font-size: 30px;
    }
}

@media (max-width: 795px) {
    .form-container {
        padding-bottom: 118%;
    }
    .hotels{
        padding: 20px 5px;
    }
    #fifth{
        height: 1400px;
    }
}

@media (max-width: 770px) {
    #header{
        display: none;
    }

    #myNavmenu{
        visibility: visible;
    }
}

@media (max-width: 710px) {
    .form-container {
        padding-bottom: 140%;
    }
    .new-header{
        width: 40%;
    }
}

@media (max-width: 700px) {
    .venues{
        padding: 10px 20px;
    }
}

@media (max-width: 590px) {
    .form-container {
        padding-bottom: 164%;
    }
    #fifth{
        height: 1500px;
    }
}

@media (max-width: 525px) {
    #fourth p{
        font-size: 20px;
    }

    #fourth a{
        font-size: 20px;
    }
    .new-header{
        width: 50%;
    }
}

@media (max-width: 505px) {
    .form-container {
        padding-bottom: 194%;
    }
}

@media (max-width: 440px) {
    .form-container {
        padding-bottom: 214%;
    }
    #fifth{
        height: 1700px;
    }
    .new-header{
        width: 60%;
    }
}

@media (max-width: 400px) {
    .form-container {
        padding-bottom: 228%;
    }
}

@media (max-width: 380px) {
    .form-container {
        padding-bottom: 252%;
    }
    #fifth{
        height: 1800px;
    }
}

@media (max-width: 360px) {
    .form-container {
        padding-bottom: 270%;
    }
    #fourth p{
        font-size: 18px;
    }

    #fourth a{
        font-size: 18px;
    }
}

@media (max-width: 340px) {
    .form-container {
        padding-bottom: 290%;
    }
    .new-header{
        width: 70%;
    }
}

@media (max-width: 320px) {
    .form-container {
        padding-bottom: 310%;
    }
}

/* Clear Fix */

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
