/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Caitlin's custom styles
   ========================================================================== */

#intro {
    background: url(../img/engaged-full.jpg) 50% 0 no-repeat fixed;
    color: white;
    height: 800px;
    margin: 0 auto;
    padding: 0;
}

#header {
    background: url(../img/header.png) repeat-x;
    height: 140px;
    z-index: 2;
    position: relative;
    color: white;
}

#second {
    background: url(../img/clean_textile.png) repeat;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    z-index: 1;
}

.story {
    margin: 0 auto;
    min-width: 980px;
    overflow: auto;
    width: 980px;
}

.center {
    padding: 80px 0 0 0;
    text-align: center;
}

#header .center{
    padding:90px 0 0 0;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36;
    margin-top: 150px;
    color:#85C2A3;
}

#logo{
    padding: 20px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #5c5c5c;
    line-height: 34px;
    margin-top: 40px;
}

.venues{
    text-align: left;
    display: inline-block;
    padding: 40px 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #5c5c5c;
    line-height: 25px;
}

a {
    color: #333;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    font-weight: 600;
}











#grid{
    max-width:300px;
    max-height:300px; 
    display:inline-block;
    width:25%;  
}

#picContainer{
    text-align: center;
    background-color: black;
    width:100%;
}

#logo{
    padding:10px;
    display: inline-block;
    width:30%;
}

#chat-icon{
    visibility: hidden;
    display: inline-block;
    width: 5%;
    float: right;
    padding-top: 15px;
    padding-right: 5px;
}

#chat{
    visibility: hidden;
    display: inline-block;
    float: right;
    padding: 22px 20px 0px 0px;
    font-size: 1.20em;
    color: #454545;
}

#headerContainer{
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 35px;
}

@media (max-width: 1200px) {
    #headerContainer{
        top: 30px;
    }
}

@media (max-width: 1000px) {
    #headerContainer{
        top: 20px;
    }
}

.headerText{
    padding:20px;
    text-decoration: none;
    color:#707070;
    font-size: 20px;
}

@media (max-width: 1000px) {
    .headerText{
        padding: 10px;
    }
}

#name{
    font-size: 40px;
    background-color:black;
    color:white;
    width:400px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    margin-top: -70px;
    text-transform: uppercase;
}

.section{
    background-color:#f7f7f7;
    border-top: solid 3px #C0C0C0;
    border-bottom: solid 3px #C0C0C0;
}

.title{
    width:300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-bottom:3px solid #33CCCC;
}

#me{
    width:300px;
    height:300px;
    padding-right: 20px;
    display: inline-block;
}

.intro-text{
    display: inline-block;
    text-align: left;
}

.yellow-text{
    color:#00CC99;
    display: inline-block;
    font-weight: bolder;
    font-size: 1.3em;
}

.intro-text h1{
    font-family: "felt-tip-roman",sans-serif;
    color:#454545;
}

.middle{
    background-color:#ed145b;
    color:white;
    font-family: "felt-tip-roman",sans-serif;
    display: inline-block;
}

#whoAmIText{
    padding:40px;
    font-size: 1.2em;
    text-align: center;
}

.socialIcons{
    width:30px;
    height:30px;
    padding:5px 5px 50px 5px;
    opacity: 0.5;
}

.fade {
    opacity: 0.5;
}

.fade:hover {
    opacity: 1;
}

#pull-right{
    padding-right: 40px;
    float:right;
}

.skills{
    background: url("../images/diamonds.png") -0px -0px no-repeat;
    background-color: #f4ecf1;
    background-repeat: repeat;
}

.skills .title{
    border-bottom: 2px solid #bc3a94;
    padding-top: 50px;
}

#circles{
    padding: 50px 0 50px 0;
    text-align: center;
}

.circle {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100%;
    width:160px;
    height:160px;
    position: relative;
    display:inline-block;
    margin:20px;
}

.circle-border {
    border: 2px solid #bc3a94;
}

.circle-solid{
    background-color: whitesmoke;
}

.circle:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.circle-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.score-text {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1em;
    line-height: 1em;
    font-size: 25px;
}

.rightSideImg{
    height:300px;
    width:300px;
    float:right;
    padding-left: 20px;
}

.rightSide{
    float:left;
    padding:40px;
    font-size:1.3em;
    line-height: 150%;
}

.leftSide{
    float:right;
    padding:40px;
    font-size:1.3em;
    line-height: 150%;
}

.leftSideImg{
    height:300px;
    width:300px;
    float:left;
    padding-right: 20px;
}

.letsChat{
    padding-top: 40px;
    text-align: center;
}

.me2{
    height:300px;
    width:300px;
    margin:40px;
}

.chatText{
    display:inline-block;
}

*{
    font-family: 'Source Sans Pro', sans-serif;
}

.grow:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.logo{
    width:50px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    display: inherit;
    margin-bottom: 50px;
}

.projects{
    text-align: center;
}

.projectImages{
    height: 300px;
    width:300px;
    padding-bottom: 20px;
}

.project{
    display: inline-block;
    text-align: center;
    padding: 0px 50px;
    padding-bottom: 50px
}

.projectText{
    text-align: left;
    width: 300px;
}

.project h2{
    margin-top: 0px;
    margin-bottom: 10px;
    color:#FF9999;
}

.chat-section{
    overflow: hidden;
    background: url("../images/circles.png") -0px -0px no-repeat;
    background-color: #9fbfc0;
    background-repeat: repeat;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* menu drawer */

@media (max-width: 865px) {
    #headerContainer{
        visibility: hidden;
    }

    #chat-icon{
        visibility: visible;
    }

    #chat{
        visibility: visible;
    }
}

@media (max-width: 725px) {

    #chat{
        padding-top: 18px;
    }
}

@media (max-width: 625px) {

    #chat{
        padding-top: 15px;
        font-size: 1.1em;
    }

    .project{
        padding: 0px 10px;
        padding-bottom: 30px
    }
}

/* responsive */

@media (max-width: 480px) {
    .headerText{
        font-size:12px;
        padding:5px;
    }

    #logo{
        width:40%;
    }

    #chat-icon{
        width: 7%;
        padding-top: 10px;
    }

    #chat{
        font-size: 1.0em;
        padding: 12px 12px 0px 0px;
    }

    #name{
        font-size:30px;
        width:300px;
    }

    #whoAmIText{
        padding:10px;
        float:none;
    }

    #me{
        padding:0px;
        padding-top: 20px;
        float:none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #meText{
        padding-top: 20px;
    }

    #pull-right{
        float:none;
        text-align: center;
        padding:0px;
        padding-top:10px;
    }

    #socialIcons{
        display:inline-block;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 20px;
    }

    #circles{
        padding:30px 0px 30px 0px;
    }

    .circle{
        margin:10px;
    }

    .rightSideImg{
        padding:20px 0px 20px 0px;
        float:none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .rightSide{
        padding:10px;
        float:none;
    }

    .leftSide{
        padding:10px;
        float:none;
    }

    .leftSideImg{
        padding:20px 0px 20px 0px;
        float:none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .me2{
        margin:0px;
        margin-bottom:0px;
    }

}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
